<!DOCTYPE html>
<html>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3css">
<link href="~/css/style.css" rel="stylesheet" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Open Sans", sans-serif}
</style>

<head>
        <title>Tweets</title>
        <script src="~/Scripts/angular.js"></script>
        <script src="~/Scripts/jquery-3.1.1.js"></script>
        <script src="~/Scripts/TweetApp.js"></script>
        

</head>
<body class="w3-theme-l5">
    <div ng-app="MyApp" ng-controller="MainController">
            <!-- Navbar on small screens -->   
           <div ng-if="tweets[0].screenName === undefined">
               {{message}} 
               {{status}}
            </div>
        <div ng-if="tweets[0].screenName !== undefined">
            <div ng-else>
            <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
              <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
              <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
              <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
              <a href="#" class="w3-bar-item w3-button w3-padding-large">My Profile</a>
            </div>
                <!-- Page Container -->
             <div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">    
              <!-- The Grid -->
              <div class="w3-row">
                <!-- Left Column -->
                <div class="w3-col m3">
                  <!-- Profile -->
                  <div class="w3-card-2 w3-round w3-white">
                    <div class="w3-container">
                     <h4 class="w3-center">{{tweets[0].screenName}}</h4>
                     <p class="w3-center"><img src={{tweets[0].userImage}} class="w3-circle" style="height:106px;width:106px" alt="NoImage"></p>
                     <hr>
                     <h4 class="w3-center">{{tweets[0].userName}}</h4>
                    </div>
                  </div>
                  <br>
                <!-- End Left Column -->
                </div>
                <!-- Middle Column -->
                  
                 <div class="w3-col w3-center m7" align="center">
                      <input type ="text" placeholder="filter tweets" class="input-lg form-control w3-left" ng-model="txtFilter"/>
                  <br/>
                <div ng-repeat ="tweet in tweets | filter:txtFilter">
                
                  <div class="w3-container w3-card-2 w3-white w3-round w3-center">                    
                    <p>{{tweet.tweetText}}</p>
                      <div class="w3-row-padding" style="margin:0 -16px">
                        <div ng-repeat="images in tweet.tweetImage">
                            <div class="w3-half">
                                <img src={{images}} style="width:100%" alt="Invalid image" class="w3-margin-center">
                            </div>
                        </div>
                    </div>
                      <span class="w3-right w3-opacity">{{tweet.tweetDate}}</span>
                    <span class="w3-tag w3-left w3-small w3-theme-d5">{{tweet.retweets}} Retweets</span>

                  </div>
                      <br />
                 </div>
                 </div>
                <!-- End Middle Column -->
                
       
              <!-- End Grid -->
              </div>
  
            <!-- End Page Container -->
            </div>
            <br>
            </div>
        </div>
        </div>
    </body>
</html> 
